body {
    background-color: aqua;   
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 2rem;
}


#style {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    margin: 2rem 0;
}

input {
    font-size: 1.5rem;
    background-color: rgb(49, 49, 72);
    color: white;
    border-radius: .5rem;
}